{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ShopyFy-Sign In</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="container">
		<div id="login-box">
			<div class="logo">

				<h1 class="logo-caption"><span class="tweak">Sign</span> In</h1>
			</div><!-- /.logo -->
			<div class="controls">
				<form action="{% url 'Signin' %}" method="post">
					{% csrf_token %}
					{% for msg in messages %}
					<script>
						window.onload = function () {
							alert('{{msg}}')
						}
					</script>
					{% endfor %}
					<input type="email" name="email" placeholder="Email" class="form-control" required/><br>
					<input type="password" name="password" placeholder="Password" class="form-control" required/><br>
					<button type="submit" class="btn btn-default btn-block btn-custom">Sign In</button><br>
					Forgot Password ?<a href=""> Click Me</a><br>
					<span class="tweak">Don't have an Account ?</span> <a href="{% url 'Signup_page' %}"> Click Me</a>
				</form>
			</div>
		</div>
	</div>
	<div id="particles-js"></div>
	<!-- partial -->
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'></script>
	<script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>

</html>